@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h4>Add a new Animal</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Type)
    @Html.TextBoxFor(model => model.Type)
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    @Html.LabelFor(model => model.Gender)
    @Html.TextBoxFor(model => model.Gender)
    @Html.LabelFor(model => model.DateOfAdmittance)
    @Html.TextBoxFor(model => model.DateOfAdmittance,"{0:yyyy-MM-dd}", new { type="date" })
    @Html.LabelFor(model => model.Breed)
    @Html.TextBoxFor(model => model.Breed)
    @Html.LabelFor(model => model.SpayedOrNeutered)
    @Html.CheckBox("SpayedOrNeutered", true)

    <input type="submit" value="Add new Animal" />
}

<p>@Html.ActionLink("Show all animals", "Index")</p>